* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.container-certification {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-left: 15%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 90vh;
    float: left;
    width: 85%;    
}