h1 {
    display: flex;
    font-family: 'Plus Jakarta', sans-serif;
    // height: 12vh;
    align-items: center;
    justify-self: center;
    // font-size: 5rem;
    justify-content: flex-start;
}

