* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.cv-image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 15%;  
}

.content-cv-image{
    height: 100%;
}

.cv-imagen {
    width: 100%;
    height: 100%;
}

// .cv-image a {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: white solid 3px;
//     height: 5vw;
// }


.flotante{
    width:20%;
    
    position:fixed;
    right:0px;
    bottom:0px;
  }
  .botonF1{
    width:100%;
    height:10vh;
    border-radius:5%;
    background:#F44336;
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:rgb(70, 64, 64);
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }
  // span{
  //   transition:.5s;  
  // }
  .botonF1 a {
      background: transparent;
    //   font-size: 10px;
  }
  .botonF1:active{
    transform:scale(1.1);
  }

  @media (max-width:800px){
    .botonF1 a {
        /* background: transparent; */
        font-size: 60%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
  }

  @media(max-width:700px){
    .cv-image {
      width: 100%;
      margin-left: 0;
    }
  }

  @media (max-width:600px){
    .botonF1{
        height: 5vh;
    }  
    .botonF1 a{
        font-size: 60%;
      }
  }