* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home, 
.services, 
.products, 
.contact-us, 
.sign-up, 
.marketing, 
.consulting {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-self: center;
    font-size: 3rem;
    justify-content: center;
}