* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.container-cv {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-left: 15%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 90vh;
    float: left;
    width: 50%; 
}
.cv-image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34vw;
    height: 88vh;
    float: right;
}

.content-cv-image{
    height: 100%;
}

.cv-imagen {
    width: 98%;
    height: 99%;
}