* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.cv-image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34vw;
    height: 88vh;
    float: left;
}

.content-cv-image{
    height: 100%;
}

.cv-imagen {
    width: 98%;
    height: 99%;
}


@media(max-width:1260px){
    .container-cv{
        width: 45%;
        margin-left: 20%;
    }
    .tittle-cv{
        font-size: 2.6rem;
    }
}

@media(max-width:980px){
    .iconos-redes{
        height: 10vh;
    }
}

@media(max-width:940px){
    .container-cv {
        width: 75%;
        margin-left: 25%;
        height: 80vh;
    }

    .cv-image{
        width: 100%;
        height: 125vh;
    }
    .cv-imagen {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:800px){
    .container-cv {
        width: 100%;
        margin-left: 0%;
        height: 80vh;
        margin-top: 40%;
        border-left: none;
        border-right: none;
    }

    .tittle-cv h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media(max-width:590px){
    .container-cv{
        height: 80vh;
        margin-top: 50%
    }
}

@media(max-width:590px){
    .container-cv{
        margin-top: 60%;
    }

    .iconos-redes{
        height: 10vh;
        padding-top: 0%;
    }
}

@media(max-width:320px){
    .container-cv{
        margin-top: 70%;
        height: 160vh;
    }
}